@media(min-width:768px){
.segments {
  font-size: 14px;
}
.years, .age, .genders, .gender {
  font-size: 24px;
}

#all, #age, #gender, #segment {
  margin-top: 1em;
    border-radius: 3px;

    font-size: 1.5em;
  width: 165px;
  height: 40px;
  font-family: 'BebasNeue';
  margin-left: 15px;
}
#chart{
  margin-top:-20px;
}

}

@media(min-width:992px){
.segments {
  font-size: 18px;
}

.years, .age, .genders, .gender {
  font-size: 24px;
}

#all, #age, #gender, #segment {
  margin-top: 1em;
    border-radius: 3px;

    font-size: 1.5em;
  width: 200px;
  height: 40px;
  font-family: 'BebasNeue';
  margin-left: 15px;
}

#chart{
  margin-top:-90px;
}
}

@media(min-width:1200px){
.segments {
  font-size: 18px;
}

.years, .age, .genders, .gender {
  font-size: 24px;
}

#all, #age, #gender, #segment {
  margin-top: 1em;
    border-radius: 3px;

    font-size: 1.5em;
  width: 200px;
  height: 40px;
  font-family: 'BebasNeue';
  margin-left: 15px;
}

#chart{
  margin-top:-190px;
}
}

.buynow {
  margin-top: .5em; 
  font-size: 3.5em; 
  width: 350px; 
  height: 65px; 
  font-family: 'BebasNeue';
  }

.instructions {
  margin-top: 5px;
  color: white;
}

/*Code below:
/*Copyright (c) 2012-2014, Jim Vallandingham*/
/*https://github.com/vlandham/gates_bubbles*/
a, a:visited, a:active {
  color: #444;
}

#vis {
  width: 940px;
  height: 600px;
  clear: both;
  margin-bottom: 10px;
}

footer {
  text-align: center;
}

#view_selection {
  margin-top: 0px;
}

.years, .age, .genders, .gender, .segments {
  fill: white;

}

.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius:9px;
  border-radius: 9px;
  border: 2px solid #7f8c8d;
  /* background: #222222; */
  background: rgba(189, 195, 199,1.0);
  opacity: .9;
  /* color: #eeeeee; */
  color: black;
  padding: 10px;
  width: 300px;
  font-size: 12px;
  z-index: 10;
}

.tooltip .title {
  font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

/*code below:
/*Copyright (c) 2014 PubNub*/
/*https://github.com/pubnub/d3-bubble*/

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@font-face {
font-family: BebasNeue;
src: url("../font/BebasNeue.woff") format("woff");
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto Light", "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", Helvetica, Arial, sans-serif; 
    margin: 1em;
    background: #F27935;
    color: #ecf0f0;
}

.subhead {
  margin-top:-10px;
}

reportname {
  margin: 0;
  text-rendering: optimizeLegibility;
  color: white;
  font-size: 2em;
  line-height: 1em;
  font-family: 'BebasNeue';
}

h1, h2, h3 {
  margin: 0;
  text-rendering: optimizeLegibility;
  color: white;
}
h1 {
  font-size: 2.4em;
  line-height: 1em;
  font-family: 'BebasNeue';
  text-shadow: 2px 4px 0 rgba(0,0,0,0.4);
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0px;
}
p, footer {
  margin: 1em 0 .5em;
  color: silver;
}
footer {
  font-size: .8em;
  margin-top: 3em;
  color: white;
}

fieldset {
  border: 0;
  z-index: -1;
  margin: 0;
}

fieldset p {
  position: absolute;
  left: 1em;
  opacity: 0.5;
  color: white;
}

fieldset p > span {
  font-size: 2em;
}

#chart {
  width: 100%;
  text-align: center;
  float: left;
}

@media only screen and (min-width: 500px) {
  h1 {
    font-size: 4.75em;
    line-height: 1.5em;
  }
  fieldset p > span {
    font-size: 3em;
  }
}

@media only screen and (min-width: 900px) {
  fieldset p {
    bottom: 0;
  }
  legend {
    width: 25%;
    float: right;
    margin-top: 0;
  }

  #chart {
    width: 75%;
    text-align: center;
    float: left;
    margin-top: -35px;
  } 

  input[type=button] {
    margin-top: 4em;
  }
} 

@media(max-width:767px){
.segments {
  font-size: 6px;
}

.instructions {
  font-size: 10px;
}

.years, .age, .genders, .gender {
  font-size: 18px;
}

#all, #age, #gender, #segment {
  margin-top: 1em;
    border-radius: 3px;

    font-size: 1.5em;
  width: 165px;
  height: 40px;
  font-family: 'BebasNeue';
  margin-left: 65px;
}

.subhead {
  margin-top:5px;
}
#chart{
  margin-top:-40px;
}

.buynow {
  width:100%;
  font-size: 2.8em; 
  }


}
